@using System.Reflection
@using IChatYou.App.Controllers
@{
    ViewBag.Title = "Home";
    var version = Assembly.GetAssembly(typeof(HomeController)).GetName().Version.ToString();
}

<div class="jumbotron">
    <h1>IChatYou</h1>
    <h3>v@(version)</h3>
    <p class="lead">This is the best chat service in the world, for everyone</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browsing registered users</h2>
        <p>
            You can browse between all registered user, send message or ban / allow them.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Message")">Go to users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See my messages</h2>
        <p>You can read old messages and send new messages for users.</p>
        <p><a class="btn btn-default" href="@Url.Action("Messages", "Message")">Go to messages &raquo;</a></p>
    </div>
</div>